---
import { getCollection, render } from "astro:content";
import Review from "../../layouts/Review.astro";
import { getTextColorForBackground } from "../../utils";

export async function getStaticPaths() {
  const reviews = await getCollection("reviews");
  return reviews.map((review) => ({
    params: { id: review.id },
    props: { review },
  }));
}
const { review } = Astro.props;
const { Content } = await render(review);
const textColor = review.data.color;
---

<Review frontmatter={review}>
  <div
    class=`main-content p-16 text-lg md:text-2xl text-pretty break-words text-white
    prose prose-neutral dark:prose-invert
    prose-h1:font-bold prose-h1:text-xl
    prose-h2:text-3xl prose-h2:mb-6 md:prose-h2:text-5xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
   prose-ol:px-15 prose-ol:py-5 prose-ol:rounded-2xl prose-ol-strong:text-red
    max-w-screen prose-hr:border-neutral-50 prose-hr:rounded prose-hr:border-2 marker:text-white prose-hr:p-0`
    style={`--maincolor: ${textColor}; --backcolor: ${textColor + "55"};`}
    >
  
    <Content />
    <details class="bg-black/20 p-4 italic font-light text-pretty rounded-2xl my-10">
      <summary>Disclaimer</summary>
      <p>
  I’m not a musician neither a writer. I’m a music enjoyer and I just want to give my comment on some music, nothing serious. 
  This is my personal opinion, if you doesn’t agree with my opinion is all right. 
  All the numbers and ratings are just a way to show how I enjoyed a song, I know you can’t just qualify a song with a raw number, im using it just to tell if something is good or not.
  At the end of the day, art is subjective and everyone has a valid opinion.
      </p>
    </details>
  </div>
</Review>

<style>
.main-content{
  h2 {
    color: var(--maincolor);
  }

  hr{
    border-color: var(--maincolor);
  }

  ol{
    background-color: var(--backcolor)
  }

}
</style>