---
import { getCollection, render } from "astro:content";
import Review from "../../layouts/Review.astro";

export async function getStaticPaths() {
  const reviews = await getCollection('reviews');
  return reviews.map(review => ({
    params: { id: review.id },
    props: { review },
  }));
}
const { review } = Astro.props;
const { Content } = await render(review);

---

<Review frontmatter = {review}>
    <div class="p-16 w-full text-2xl text-pretty ">
      <Content></Content>
    </div>
</Review>