---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import ReleaseItem from "../../components/ReleaseItem.astro";
import PaginationButton from "../../components/PaginationButton.astro";
import type { GetStaticPaths } from "astro";

export const prerender = true;
/*
export const prerender = false;

const reviews = await getCollection('reviews');
const sortedReviews = reviews.sort((a,b)=> new Date(b.data.reviewDate).getTime() - new Date(a.data.reviewDate).getTime());

const releasePerPage = 20;
const url = new URL(Astro.request.url);
const currentPage = Number(url.searchParams.get('page')||1);

const totalReleases = sortedReviews.length;
const totalPages = Math.ceil(totalReleases / releasePerPage);

const startIndex = (currentPage-1) * releasePerPage;
const endIndex = Math.min(startIndex + releasePerPage, totalReleases);
const currentReleases = sortedReviews.slice(startIndex, endIndex);

const prevPage = currentPage > 1 ? currentPage - 1 : null; 
const nextPage = currentPage < totalPages ? currentPage + 1 : null; */

export const getStaticPaths = (async ({ paginate }) => {
    const releasesPerPage = 8;
    const reviews = await getCollection("reviews");
    const sortedReviews = reviews.sort(
        (a, b) =>
            new Date(b.data.releaseDate).getTime() -
            new Date(a.data.releaseDate).getTime(),
    );

    return paginate(sortedReviews, {pageSize: releasesPerPage});
}) satisfies GetStaticPaths;


const { page } = Astro.props;

---

<Layout customTitle="all the releases" extraClass ="md:justify-start py-20 bg-black">
    <NavBar transition:persist></NavBar>
    <div class="grid md:grid-cols-2 items-start justify-start gap-4 px-8 md:px-16 pb-8 w-full">
        {
            page.data.map((review) => 
                <ReleaseItem review={review}></ReleaseItem>
            )
        }
    </div>
    <div class="pt-8">
        <PaginationButton prevPage={page.url.prev} nextPage={page.url.next} />
    </div>
</Layout>
