---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

const reviews = await getCollection('reviews');
const sortedReviews = reviews.sort((a,b)=> new Date(b.data.releaseDate).getTime() - new Date(a.data.releaseDate).getTime());
---

<Layout customTitle="all the releases">
    <NavBar></NavBar>
    {
        sortedReviews.map((review) => 
            <a href=`../reviews/${review.id}` class="text-white text-2xl">{review.data.title}</a>
            
        )
    }
</Layout>
