---
import Block from "./Block.astro";
import { getHomeReleases } from "../utils";

const releases = await getHomeReleases();
---
<section class="grid md:min-h-10/12 grid-cols-3 md:grid-cols-6 md:grid-rows-6 w-11/12 gap-4 rounded-lg grid-flow-row-dense md:grid-flow-dense p-6">

    {
        releases.map((release:any)=>
            <Block extraClass="bg-blue-" release={release}></Block>
        )
    }
</section>

