
<nav
    class="transform transition fixed top-0 z-10 md:static flex flex-col md:flex-row justify-end items-center md:bg-white m-4 px-4 md:rounded-full text-gray-900 font-bold text-lg"
>
    <div class="flex bg-white rounded-full nav-top">
        <div class="py-2 px-4 flex items-center">
            <a class="group hover:cursor-pointer" href={"/"}>
                <img
                    class="w-8 transform transition group-hover:animate-spin"
                    src="/home.svg"
                /></a
            >
        </div>

        <div class="py-2 px-4 md:hidden">
            <button
                type="button"
                id="btnMenu"
                class="flex items-center p-1 w-8 h-8 justify-center text-sm text-gray-900 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-500 hover:cursor-pointer"
                aria-controls="navbar-default"
                aria-expanded="false"
            >
                <span class="sr-only">Open menu</span>
                <svg
                    class="w-8 h-8"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
        </div>
    </div>

    <div
        class="hidden flex-col md:flex bg-white"
        id="navbar"
    >
        <ul class="flex flex-col md:flex-row justify-end items-center navExtra">
            <span class="md:vertical-line"></span>
            <li class="py-2 px-4">
                <a
                    class="transition hover:cursor-pointer underline-offset-1 underline-animation"
                    href={"/artists"}>{"All artists"}</a
                >
            </li>
            <span class="md:vertical-line"></span>
            <li class="py-2 px-4">
                <a
                    class="transition hover:cursor-pointer underline-offset-1 underline-animation"
                    href={"/releases"}>{"All releases"}</a
                >
            </li>
        </ul>
    </div>
</nav>

<style>
    .vertical-line {
        width: 1px;
        height: 1.1em;
        background-color: oklch(0.21% 0.034 264.665 / 20%);
    }

    .underline-animation {
        position: relative;
    }

    .underline-animation::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px; 
        background-color: oklch(0.21 0.034 264.665); 
        transition:
            width 0.3s ease,
            left 0.3s ease; 
    }
    .underline-animation:hover::after {
        width: 100%;
        left: 0;
    }

    .nav-animation::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: -30%;
        z-index: -2;
        background-color: white;
        border-radius: 16px;
        transition: all;
    }

    .nav-animation {
        display: flex;
        position: absolute;
        border-radius: 16px;
        animation: show-nav 0.3s;
        transition: all ease-in-out;
        top: 100%;
        height: 90px;
        z-index: -1;
    }

    @keyframes show-nav {
        0% {
            top: 30%;
            height: 20%;
            visibility: hidden;
            color: transparent;
        }
        25% {
            color: transparent;
        }
        50% {
            height: 90px;
        }
        100% {
            visibility: visible;
        }
    }

</style>

<script>
    const btnMenu = document.querySelector("#btnMenu");
    const nav = document.querySelector("#navbar");

    btnMenu?.addEventListener("click", (ev) => {
        ev.preventDefault();

            nav?.classList.toggle("hidden");
            nav?.classList.toggle("block");
            nav?.classList.toggle("nav-animation");
        
    });
</script>
