---
const { prevPage, nextPage } = Astro.props;
---

<div class="flex gap-4 font-bold">
    {
        prevPage && (
            <a
                href={`?page=${prevPage}`}
                class="px-4 hover:bg-white bg-black rounded-full  hover:text-black text-white transition-colors"
            >
                Previous
            </a>
        )
    }
    {
        nextPage && (
            <a
                href={`?page=${nextPage}`}
                class="px-4 hover:bg-white bg-black rounded-full  hover:text-black text-white transition-colors"
            >
                Next
            </a>
        )
    }
</div>
