---
const { prevPage, nextPage } = Astro.props;
---

<div class="flex gap-4 font-bold py-8 md:py-0">
    {
        prevPage && (
            <a
                href={`${prevPage}`}
                class="px-4 bg-white hover:bg-black rounded-full  text-black hover:text-white transition-colors"
            >
                Previous
            </a>
        )
    }
    {
        nextPage && (
            <a
                href={`${nextPage}`}
                class="px-4 bg-white hover:bg-black rounded-full :text-black hover:text-white transition-colors"
            >
                Next
            </a>
        )
    }
</div>
