
<section class="h-screen w-full bg-black p-20 flex flex-col md:flex-row items-center justify-center select-none gap-8">

    
        <img src="/home.svg" class="disc invert-100 animate-spin size-1/2"/>
    

      <h1 class=" text-white font-extrabold text-5xl md:text-8xl">a simple music reviewer<span class="stroke animate-pulse">_</span></h1>
    

</section>