---
import "../styles/global.css";
const {customTitle} = Astro.props 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>a simple music reviewer: {customTitle}</title>
	</head>
	<body class="w-full min-h-screen flex flex-col md:justify-center items-center bg-gray-900 pt-16 ">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
